<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #main_sidenav
        class="sidenav"
        fixedInViewport="false"
        position = "end">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item>1</a>
            <mat-divider></mat-divider>
            <a mat-list-item>2</a>
            <mat-divider></mat-divider>
            <a mat-list-item>3</a>
            <mat-divider></mat-divider>

            <mat-expansion-panel *ngIf="isSignedIn()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Devices
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <a mat-list-item>Relays</a>
                <mat-divider></mat-divider>
                <a mat-list-item>Lights</a>
                <mat-divider></mat-divider>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <span>Smart Home</span>
            <div class="vertical-spacer"></div>
            <button mat-icon-button (click)="main_sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <ng-content></ng-content>

    </mat-sidenav-content>
</mat-sidenav-container>
