.register-wrapper{
    height: 80%;
    width: 100%;
}

.form-field{
    width: 100%;
}

.button-holder{
    text-align: center;
}

.mat-flat-button-wide{
    @extend mat-flat-button;
    width: 30%;
}
